* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

.container{
	width:825px;
	margin:0 auto;
}

/* PRODUCT */
.product {
	border: 6px;
	border-style: solid;
	border-color: black;
}

.product-title {
	text-transform: uppercase;
	text-align: center;
	background-color: #e7e7e7;
	padding :15px 0px;
}

/* PRODUCT INFORMATION */
.price {
	font-size: 30px;
}

.shipping-details {
	text-transform: uppercase;
	color: #676767;
	font-weight: bold;
	margin-bottom: 20px;
}

/* PRODUCT DETAILS */

.more-info:link,
.more-info:visited {
	color: black;
	display: inline-block;
	margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
	/* color: black; */
	text-decoration: none;
}

.details-title {
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 20px;
}

.details-list {
	list-style:square;
}

/* BUTTON */
.add-to-cart {
	width: 100%;
	height: 40px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	font-size: 20px;
	border-style: none;
	cursor: pointer;
	padding: 15px;
}

.add-to-cart:hover {
	color: black;
	background-color: white;
	border-top: solid black;
	/* border-bottom : solid black; */
}

ul,ol{
	margin-left: 20px;;
}

li{
	margin-bottom: 10px;
}

p{
	margin-bottom: 10px;
}