*{
	margin:0;
	padding:0;
}

body {
	font-family: sans-serif;
	color: #444444;
	border-top: #1098ad 10px solid;
}

h1,
h2,
h3 {
	color: #1098ad;
}

.main-header{
	background-color: #efeff1;
	padding:20px 40px;
	margin-bottom: 60px;	
}

/* .content-title{
	margin-bottom: 20px;
} */

.content-header{
	margin-bottom: 40px;
}

article{
	margin-bottom:60px;
}

aside {
	background-color: #efeff1;
	border-top:5px solid #1098ad;
	border-bottom:5px solid #1098ad;
	padding:50px 0px;
	width:500px;
}

ul,ol {
	margin-left:50px;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 20px;
}

h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	margin-bottom: 20px;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 20px;
}

li {
	font-size: 20px;
	margin-bottom: 10px;
}

.post-img{
	width:100%;
	height:auto;
}

.container{
	width:700px;
	/* margin-left: auto;
	margin-right:auto; */
	margin: 0 auto; 
}
/* Descendant Selector Demonstration */

/* footer p {
	font-size: 16px;
} */

/* article header p{
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
	margin-bottom: 20px;
}

#copyright {
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

/* ul {
	list-style: none;
} */

.related-posts-list {
	list-style: none;
}


li:first-child{
	font-weight: bold;
}

li:last-child{
	font-style: italic;
}

/* When mixing multiple classes pseudoclasses dont work well ex */
/* article p:last-child{
	color:red;
} */
/* This wont affect the style as intended */

/* Links should be styled in a particular order of pseudoclasses*/

/* link, visited, hover, active */

/* 
	link - anchor tag that has a href attribute
	visited - check is link is visted
	hover - when mouse is hovered over the link
	active - when the link is clicked
*/

a:link{
	color:#1098ad;
	text-decoration: none;
}

a:visited{
	color:#1098ad
}

a:hover{
	color:orangered;
	font-weight: bold;
	text-decoration: underline orangered;
}

a:active{
	background-color: black;
	font-style: italic;
}

/* LVHA acronym */
